.container {
    display: flex;
    height: 960px;
    width: 960px;
}

body {
    display: flex;
    flex-direction: column;
}

.prompt {
    margin-top: 20px;
    justify-content: center;
    align-self: center;
    height: 50px;
}